@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Shantell+Sans&display=swap');
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Shantell Sans', cursive;
}
.wrapper {
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
